<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Brand</title>
</head>
<body onload="connect()">
    <div>
        <input id="to" type="text" placeholder="To..."/>
        <input id="content" type="text" placeholder="Message..."/>
        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="submit" value="Sign Out" th:value="${#httpServletRequest.remoteUser} + ' Sign Out!'"/>
        </form>
    </div>
    <div id="log">
        <p id="response"></p>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>