<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Brand</title>
</head>
<body>
    <div th:if="${param.error}">
        Invalid email and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div><input name="email" type="text" placeholder="Email" autofocus="true"/></div>
        <div><input name="password" type="password" placeholder="Password"/></div>
        <div><input value="Sign In" type="submit"/></div>
    </form>
</body>
</html>